# Server Name
name=your.server.name
# Listen on these ports
ports=7654 7655
motd=chat.motd
connects=os.openstar.pw 7654
mods=name password name2 password2
# Deny
# deny=... is a bit complicated
# it holds nicknames and IP addresses to deny access to the server to
# entries are space-separated
deny=badnick 127.0.0.2 bot123
# Filter
filter=
# Modules
# list of modules to use; space separated
modules=ircgateway.tcl websocket.tcl
# Configure the IRC Gateway -- you probably want this
ircgateway.ports=6667 6668
# Configure TLS
# Generate chat.(key|crt) using ./genkey.sh
tls.key=chat.key
tls.cert=chat.crt
tls.ports=7657
# IRC Gateway TLS Configuration
tls.ircgateway.ports=6697
# Configure WebSockets (sh getwebsocket.sh)
websocket.ports=7658
# Done!
